<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 1. namespace 改成 HrMapper -->
<mapper namespace="com.example.vhr.mapper.HrMapper">

    <!-- 2. type 改成 Hr -->
    <resultMap id="HrMap" type="com.example.vhr.entity.Hr">
        <id column="id" property="id"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="name" property="name"/>
        <result column="phone" property="phone"/>
        <result column="email" property="email"/>
        <result column="enabled" property="enabled"/>
        <collection property="roles" ofType="com.example.vhr.entity.Role">
            <id column="rid" property="id"/>
            <result column="rname" property="name"/>
            <result column="rnamezh" property="nameZh"/>
        </collection>
    </resultMap>

    <!-- id 保持 loadUserByUsername，不用改 -->
    <select id="loadUserByUsername" resultMap="HrMap">
        SELECT h.*, r.id rid, r.name rname, r.name_zh rnamezh
        FROM hr h
        LEFT JOIN hr_role hrr ON h.id = hrr.hr_id
        LEFT JOIN role r ON hrr.rid = r.id
        WHERE h.username = #{username}
    </select>

</mapper>